# PostgreSQL (Prisma)
POSTGRES_USER=quackly_app
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=quackly_core
POSTGRES_PORT=55432

# PgAdmin
PGADMIN_EMAIL=admin@quackly.com
PGADMIN_PASSWORD=adminpass
PGADMIN_PORT=5550

# MongoDB (Mongoose)
MONGO_INITDB_ROOT_USERNAME=quackly_posts_user
MONGO_INITDB_ROOT_PASSWORD=supersecret
MONGO_INITDB_DATABASE=quackly_posts
MONGO_PORT=57017

# Mongo Express
MONGOEXPRESS_PORT=5555

# URL de conexión para Prisma / PostgreSQL
DATABASE_URL="postgresql://quackly_app:supersecret@localhost:55432/quackly_core?schema=public"

# URL de conexión para Mongoose / MongoDB
MONGO_URI="mongodb://quackly_posts_user:supersecret@localhost:57017/quackly_posts?authSource=admin"